on early-init
    mkdir /mnt/vendor/efs 0771 radio system
    mkdir /efs 0771 radio system
    setprop vendor.tzts_daemon Ready

on fs
    wait /dev/block/platform/${ro.boot.boot_devices}
    symlink /dev/block/platform/${ro.boot.boot_devices} /dev/block/bootdevice
    mount ext4 /dev/block/by-name/efs /efs ro wait
    mount ext4 /dev/block/by-name/sec_efs /mnt/vendor/efs ro wait
    start tzts_daemon

on late-init
    setprop service.adb.root 1
    setprop sys.usb.configfs 1
    setprop sys.usb.config adb

on boot
    start health-hal-2-1

on property:hwservicemanager.ready=true
    setprop vendor.tzts_daemon Ready
    mkdir /mnt/vendor/efs/DAK 0775 root root
    mkdir /data/vendor/keymaster 0775 root root
    start tzts_daemon
    exec /system/bin/sleep 2
    start vendor.keymaster-4-0
    start vendor.keymaster-4-0_strongbox