on early-init
    mkdir /mnt/vendor/efs 0771 radio system

on late-init
    setprop service.adb.root 1
    setprop sys.usb.configfs 1
    setprop sys.usb.config adb

on fs
    wait /dev/block/platform/${ro.boot.boot_devices}
    symlink /dev/block/platform/${ro.boot.boot_devices} /dev/block/bootdevice

on boot
    start health-hal-2-1

on property:hwservicemanager.ready=true
    mkdir /mnt/vendor/efs/DAK 0775 root root
    mkdir /data/vendor/keymaster 0775 root root
    start vendor.keymaster-4-0
    start vendor.keymaster-4-0_strongbox