service vendor.keymaster-4-0 /vendor/bin/hw/android.hardware.keymaster@4.0-service.samsung
    class early_hal
    user root
    group root drmrpc
    setenv LD_LIBRARY_PATH /vendor/lib64:/vendor/lib:/system/lib64:/system/lib
    setenv LD_PRELOAD /vendor/lib64/libc++.so
    seclabel u:r:recovery:s0

service vendor.keymaster-4-0_strongbox /vendor/bin/hw/android.hardware.keymaster@4.0_strongbox-service
    class early_hal
    user root
    group root drmrpc
    setenv LD_LIBRARY_PATH /vendor/lib64:/vendor/lib:/system/lib64:/system/lib
    setenv LD_PRELOAD /vendor/lib64/libc++.so
    seclabel u:r:recovery:s0