service tzts_daemon /vendor/bin/tzts_daemon
    class early_hal
    user root
    group root
    seclabel u:r:recovery:s0
    oneshot
    onrestart setprop tzts_daemon.ready true

on property:init.svc.tzts_daemon=stopped
    setprop tzts_daemon.ready true